numpy
pandas
scikit-learn
xgboost
tensorflow
keras
skorch
scipy
matplotlib
seaborn
altair
jupyterlab
notebook
ipykernel
nbformat
nbconvert
wandb
joblib
tqdm
tabulate
torch
torchvision
torchaudio
torchtext
torchdata
statsmodels